/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.25em;
}

.container{

    width: 1416px;
}

#content{
    margin-top: 0px;
}


#wrapper{
    padding-top: 10px;
    margin-top: 10px;
    background: #ffffff;
}

#_desktop_logo{
    padding-left: 0px;
    margin-left: 15px;
    padding-right: 14px;
}


#bannertop{
    width: 100%;
    height: 40px;
    margin: auto;
}



#close-button{
    background: none;
    border: none;
    position: absolute;
    right: -8px;
    top: 8px;
    font-size: 44px;
    margin: auto;
   
}

#banner_tekst{
    margin-top: 10px;
}

#main_menu_top{
    margin-left: -6px;
}

#header .header-top a[data-depth="0"] {
    color: #000000;
    text-transform: capitalize;
    padding: 10px 44px 10px 21px;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    
}


div#bannertop span{
    font-size: 14px;
    word-spacing: 0px;
    font-weight: 400;
}

#header {
    box-shadow: none;
    height: auto;
}

#header .header-nav-1 {
    height: 100px;
}
 

#header .header-nav .logo {
    margin:1em;
}
 

#header .header-top {
    border-width: 34px 0px 38px;
    border-image: radial-gradient(#f5f1f1, #ffffff) 1;
    border-style: solid;
    padding: 9px 0px;
}

#row_header{
    height: 100px;
}

#container_header {
    width: 1416px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.nav_search_widget{
    padding-top: 38px;
    padding-left: 62px;
    padding-right: 7px;
    width: 100%;
    height: 100px;
    float: left;
}

#customer_nav {
    
    width: auto;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 10px;
    margin-left: 0px;
    padding-right: 0px;
    
}


#register_panel_container{
    padding-top: 3em;
    margin-left: 78px;
    display: flex;
    flex-direction: column;
}

#register_panel_icon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register_panel_text{
    padding-top: 6px;
    padding-left: 0px;
    font-family: 'Sen';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0;
}


#login_panel_container{
    padding-top: 3em;
    margin-left: 27px;
    display: flex;
    flex-direction: column;
}

#login_panel_icon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_panel_text{
    padding-top: 6px;
    padding-left: 0px;
    font-family: 'Sen';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0;
}

#account_panel_container{
    padding-top: 2.9em;
    margin-left: 78px;
    display: flex;
    flex-direction: column;
}

#account_panel_icon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#account_panel_text{
    padding-top: 1px;
    padding-left: 0px;
    font-family: 'Sen';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0;
}

#logout_panel_container{
    padding-top: 3.2em;
    margin-left: 36px;
    padding-right: 9px;
    display: flex;
    flex-direction: column;
}

#logout_panel_icon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout_panel_text{
    padding-top: 7px;
    padding-left: 0px;
    font-family: 'Sen';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0;
}

#cart_count_background {
    text-align: center;
    top: 34px;
    right: 0px;
    position: absolute;
    background: #434242;
    clip-path: circle(50%);
    height: 19px;
    width: 19px;
 }

#cart_quantity_tekst{
    font-family: 'Sen';
    color: #ffffff;
    font-size: 11px; 

}

#cart_panel_container{
    position: absolute;
    right: -71px;
    padding-left: 27px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

#cart_panel_icon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


#custom_cart_img{
    width: 20px;
    height: 22px;
}
#cart_panel_text{
    padding-top: 6px;
    padding-left: 0px;
    font-family: 'Sen';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0;
}

#wrapper_conatiner{
    width: 1416px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.top-menu .sub-menu, .top-menu .sub-menu.collapse {
    visibility: hidden;
    opacity: 0;
    width: 1400px;
}

/* Main Wrapper */
#main{
    margin-top: -35px;
}

.homeslider-container {
    margin-top: -20px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 135px;
  }

#product_h1{
    margin-top: 35px;
    font-weight: 800;
    font-size: 40px;
}

#products .products-section-title, .featured-products .products-section-title, .product-accessories .products-section-title {
    margin: 2.5rem 0;
    text-align: left;
    text-transform: capitalize!important;
    font-family: 'Montserrat'!important;

    
}

#product_panel{
    margin-top: 57px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0px;
    margin-bottom: 50px;
}

#spec_products_container{
    width: 1300px;
    padding-top: 5px;
    display: -webkit-inline-box;
    overflow-x: hidden;
    margin-left: 0px;
    height: auto;

}


#new_products_container{
    width: 1300px;
    padding-top: 5px;
    display: -webkit-inline-box;
    overflow-x: hidden;
    margin-left: 0px;
    height: auto;

}

.product-flags{
    z-index: -1;
}


.product-miniature, .product-miniature .product {
    height: auto;
    margin-bottom: 0px;
    
}

#spec_product{
    border: 1px thin gray;
}

i.icon-basket{
    font-size: 20px;
}

.product-miniature .thumbnail-container{
    height: auto;
    margin-bottom: 0px;
}


.products article .wishlist-button-add{
    z-index: -1;
}

#arrowleft{
    height: 54px;
    width: 77px;
    color: black;
}


#arrow_button{
    background-color: transparent;
    border: none;
}


.arrow_img {
    
    margin-left: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 1;
    height: 30px;
    width: 40px;
    background-image: url('../../../child_classic/img/ArrowRight.png'); /* Ścieżka do obrazka */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    cursor: pointer;
   
}

.arrow_img.prev{
    rotate: 180deg;
    margin-top: 157px;
    background-position: right;

}

.arrow_img.next{
    margin-top: 157px;
    background-position: right;

}


.js-product, .product{
    width: 260px;
}

.product-miniature .product-title{
    height: 43px;
    margin-top: 12px;
}

.product-miniature .product-title a {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 800;
    line-height: 22px;
    color: black;
}

.product-min-price30-days{
    font-size: 12px;
    font-family: 'Montserrat';
    color: gray;
    height: 35px;
}

.product-miniature .product-description{
    height: auto;
}

.icon-clock{

    color: #bd0713;
}
.btn-primary, .add-to-cart{

    padding: 0.5rem 1.25rem;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    height: 61px;
    width: 250px;
    margin-left: 3px;
    line-height: 22px;
    letter-spacing: 1px;
    background-color: #434242;
}

.quick-view js-quick-view{
    padding: 0.5rem 1.25rem;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    height: 61px;
    width: 250px;
    margin-left: 3px;
    line-height: 22px;
    letter-spacing: 1px;
}



.add-to-cart:hover{
    background-color: #bd0713;
}



.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.btn-primary.dropdown-toggle.focus,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #bd0713;
    border-color: transparent
}

.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary:disabled.focus,.btn-primary:disabled:focus {
    background-color: #bd0713;
    border-color: transparent
}

.btn-primary.disabled:hover,.btn-primary:disabled:hover {
    background-color: #bd0713;
    border-color: transparent
}



.product-miniature .product-price-and-shipping{

    margin-top: 12px;
    margin-bottom: -4px;

    .product-with-taxes{
        text-align: center;
        color: #bd0713;
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: 800; 
        margin:0px; 
        margin-bottom: 2px;
    } 


    .product-without-taxes{
        text-align: center;
          color: #bd0713;
          font-size: 18px;
          font-family: 'Montserrat';
          font-weight: 800;
    }
          


}

#custom_banners{
    height: 957px;
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-custom-banners{
    padding-top: 18px;
    padding-bottom: 18px;
}

#custom_banner_left{
padding-left: 0px;
padding-right: 18px;
}

#custom_banner_right{
    padding-left: 18px;
}

#newproduct_h1{
    margin-top: 113px;
    font-weight: 800;
    font-size: 40px;
}


#blognews_h1{
    margin-top: 142px;
    font-weight: 800;
    font-size: 40px;
}

#blog_news_container{
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 455px;
}
.news_main{
    margin-right: 20px;
    width: 335px;
}

#newstitle{
    margin: 17px 8px 8px 8px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    
}

#newsdate{
    margin: 20px 8px 8px 8px;
    text-align: center;
    letter-spacing: -1px;
}

#newstext{
    line-height: 22px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
}

#footer_full_width{
    margin-top: 15px;
    width: auto;
    height: 600px;
    background-color: #f3f3f3;
}

#footer_text_container{
    margin-top: 30px;
}

#onas_tittle{
    padding-top: 99px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 40px;
    text-align: left;
}

#onas_text{
    height: 200px;
    padding-top: 28px;
    text-align: left;
    line-height: 26px;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    word-spacing: -1px;
}

#onas_photo{
    padding-top: 41px;
    padding-left: 54px;
}

.footer-container {
    margin-top: 92px;
    border-bottom: inset;
    border-width: thin;
    height: 415px;
}

#store_name_footer{
color: #bd0713;
font-size: 15px;
text-transform:uppercase;
}

#panel_footer{
    margin-top: 58px;
    line-height: 24px;
}

#store_info_footer{
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
}

#double_column{
    display: flex;
    flex-wrap: wrap;
}

#icon_info{
    font-family: s;
}

#info_icon{
    color: #bd0713;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-container .h3{
    color: #bd0713;
    font-size: 15px;
}

#footer .block-contact{
    width: 400px;
    padding-left: 0px;
    padding-right: 0px;

}

#no_wrap{
    margin-bottom: 60px;
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
    margin-left: 0px;

}


#links_container{
    display: flex;
    width: -webkit-fill-available;
}


#name_links{
    padding-left: 132px;
    width: 358px;
}
#links-footer{
    height: 200px;
    padding-top: 28px;
    text-align: left;
    line-height: 24px;
    margin-top: 29px;
   
    
}

.footer-container li {
    margin-bottom: 6px;
    
}

.block-contact, .footer-container li a{
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    word-spacing: -1px;
}

#paymets-img-container{
border: gray;
}

#payments-text{
    font-family: 'Sen';
    font-size: 14px;
    color: gray;
}

#payment-img{
    margin-top: 20px;
    margin-left: -25px;
}

#text-payments{
    margin-top: 22px;
}

.product-images>li.thumb-container .thumb.selected, .product-images>li.thumb-container .thumb:hover {
    border: #bd0713 3px solid;

}

.has-discount .discount {
    display: inline-block;
    padding: 0.3125rem 0.625rem;
    margin-left: 0.625rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background: #bd0713;
}

.has-discount .page-content.page-cms ul, .has-discount p, .has-discount.product-price, .page-content.page-cms .has-discount ul {
    color: #bd0713;

}